<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    {% if messages %}
    {% for message in messages %}
    <h1>{{message}}</h1>
    {% endfor %}
    {% endif %}
    <center><u><h1>All the Books Available are listed here</h1></u></center>
</head>
<body>
    {% if messages %}
    {% for message in messages %}
    <h1>{{message}}</h1>
    {% endfor %}
    {% endif %}
    
    {% for book in books %}
    <h2><a href="{% url 'book_detail' book.id %}">{{book.name}}</a> </h2>   [<a href="{% url 'book_update' book.id %}">Edit Book Details</a>]
    <li>Book Name :- {{book.name}}</br>
    <li>Book Author :- {{book.author}}</br>
    <li>Book Price :- {{book.price}}Rs</br>
    <li>Book Description :-{{book.description}}</br></br>
    --------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    <br><br>
    {% endfor %}
    <li><a href="{% url 'book_add'  %}">Click Here to Add Book</a></h2></li>

</body>
</html>